<div class="modal" id="buyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Buy Product</h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please check your order information</p>
        <form class="row g-3" method="POST" action="/buy-product">
          <% if (user) { %>
            <input type="hidden" name="id" value="<%= user.id %>">
            <% } %>
              <% if(product) { %>

                <input type="hidden" name="productId" value="<%= product.id %>">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Product Name</label>
                  <input type="text" class="form-control" value="<%= product.name %>" disabled>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Quantity</label>
                  <select id="inputState" class="form-control" name="quantity">
                    <% for (let i=0; i < product.amount; i++) { %>
                      <option value="<%= i + 1 %>">
                        <%= i + 1 %>
                      </option>
                      <% } %>
                  </select>
                </div>

        
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
             
              <% } %>
        </form>

      </div>
    </div>
  </div>
</div>